# Python Byte-compiled / optimized / DLL files
*.py[cod]

# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# MacOS
.DS_Store

# project-specific
# ignore luigi logging
.ipynb_checkpoints/
.pytest_cache/
